<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleJspServletDB</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>carController</display-name>
    <servlet-name>carController</servlet-name>
    <servlet-class>Controllers.carController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carController</servlet-name>
    <url-pattern>/carController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>carSearchController</display-name>
    <servlet-name>carSearchController</servlet-name>
    <servlet-class>Controllers.carSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carSearchController</servlet-name>
    <url-pattern>/carSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerSearchController</display-name>
    <servlet-name>customerSearchController</servlet-name>
    <servlet-class>Controllers.customerSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerSearchController</servlet-name>
    <url-pattern>/customerSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerController</display-name>
    <servlet-name>customerController</servlet-name>
    <servlet-class>Controllers.customerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerController</servlet-name>
    <url-pattern>/customerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customersSaleController</display-name>
    <servlet-name>customersSaleController</servlet-name>
    <servlet-class>Controllers.customersSaleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customersSaleController</servlet-name>
    <url-pattern>/customersSaleController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>carSaleController</display-name>
    <servlet-name>carSaleController</servlet-name>
    <servlet-class>Controllers.carSaleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carSaleController</servlet-name>
    <url-pattern>/carSaleController</url-pattern>
  </servlet-mapping>
  
</web-app>